html, body {
    height: 100%;
    margin: 0;
}

.grid-container {
    height: 70%;
}

body {
    padding: 10px;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    border: 3px solid green;
    min-height: 100%;
    background: white;
}

.human {
    position: relative;
    top: 60%;
    left: 50%;
    height: 15px;
    width: 15px;
    text-align: center;
    font-size: 0;
    border: 1px solid red;
    background-color: #bbb;
    border-radius: 50%;
    /*display: inline-block;*/
}

.grid-container {
    display: grid;
    grid-template-columns: 1.1fr 0.5fr 1.1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
}

.room-1 { grid-area: 4 / 3 / 5 / 4; }

.room-2 { grid-area: 3 / 3 / 4 / 4; }

.room-3 { grid-area: 2 / 3 / 3 / 4; }

.room-4 { grid-area: 1 / 3 / 2 / 4; }

.room-5 { grid-area: 4 / 1 / 5 / 2; }

.room-6 { grid-area: 3 / 1 / 4 / 2; }

.room-7 { grid-area: 2 / 1 / 3 / 2; }

.room-8 { grid-area: 1 / 1 / 2 / 2; }

.hallway2 { grid-area: 1 / 2 / 3 / 3; }

.hallway1 { grid-area: 3 / 2 / 5 / 3; }

/* For presentation only, no need to copy the code below */
.grid-container * {
    border: 1px solid red;
    position: relative;
}

.hallway2 {
    border-bottom: 0;
}

.hallway1 {
    border-top: 0;
}

.grid-container *:after {
    content:attr(class);
    position: absolute;
    top: 0;
    left: 0;
}